.blueSquare {
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  margin: 2rem 0;
  padding: 1.5rem;
  text-align: center;
  background: radial-gradient(circle at 20% 20%, #5183f5 25%, #4640ff 100%);
  box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100, 110, 140, 0.4);
  color: hsla(0, 0%, 100%, 0.9);
}

.blueSquare p > a {
  font-weight: bold;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.9);
}

.blueSquare p > a:hover {
  color: hsla(0, 0%, 100%, 0.5);
}
